{% extends "base.html" %}
{% block title %}Detail autora{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.min.css' %}">
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Podrobné informace</h2>
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="col-lg-6 mb-3">
        <h2 class="display-4 mb-3">{{ author_detail.name }}</h2>
        <div class="bg-secondary text-light p-2 mb-3">
            {{ author_detail.birth_date }}
        </div>
        <img src="{{ author_detail.photo.url }}" class="w-25 img-fluid" alt="Obrázek autora">
        </a>
        <div class="col-md-9">{{ author_detail.description }}</div>
    </div>
    <div class="col-lg-3 bg-light p-3">
        <h3 class="border-bottom pb-3 text-secondary text-center text-uppercase">Nejlepší tvorba</h3>
        <ul class="list-group">
            {% for book in best_books %}
            <li class="list-group-item list-group-item-info"><a class="text-dark" href="{% url 'book-detail' book.pk %}"><span class="badge bg-success">{{ book.rate }}</span>  {{ book.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div>
    <a href="{% url 'author-update' author_detail.pk %}" class="btn btn-primary">Editovat</a>
    <a href="{% url 'author-delete' author_detail.pk %}" class="btn btn-danger">Smazat</a>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>
    <script>
      lightbox.option({
          'resizeDuration': 200,
          'wrapAround': true
      })
    </script>
{% endblock %}